[core]
    excludesfile = ~/.gitignore_global
    editor = vim -c \"set fenc=utf-8\"

[user]
    name = walkingmask
    email = walkingmask@gmail.com

[color]
    ui = true

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[github]
    user = walkingmask

[url "git@github.com:"]
    insteadOf = https://github.com/
[init]
	defaultBranch = main
[pull]
	rebase = false
